@tailwind base;

@layer base {
  /** one bypass due to tw going nuts with border-[var(..)] **/
  *,
  ::before,
  ::after {
    border-color: var(--gray6);
  }

  code {
    @apply rounded-lg border py-1 px-2 align-middle font-mono text-sm;
  }

  h1 {
    @apply py-4 text-3xl font-medium;
  }

  h2 {
    @apply py-4 text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-medium;
  }

  h4 {
    @apply text-lg font-medium;
  }

  .btn {
    @apply rounded-lg bg-[var(--primary)] px-6 py-2 text-white transition-all;
  }

  .btn:hover:not([disabled]) {
    @apply ring-2 ring-[var(--slate)] ring-offset-2 ring-offset-transparent;
  }

  .btn:target {
    @apply translate-x-3;
  }

  .btn-secondary {
    @apply bg-[var(--white)] text-[var(--black)] shadow-black;
  }

  button[disabled],
  .btn[disabled] {
    @apply cursor-default transition-all;
  }

  button[disabled]:not(.loading):not(.pending),
  .btn[disabled]:not(.loading):not(.pending) {
    @apply opacity-50 grayscale;
  }

  button[disabled].loading,
  .btn[disabled].loading {
    @apply relative text-opacity-50 opacity-90;
  }

  button[disabled].pending,
  .btn[disabled].pending {
    @apply relative cursor-progress;
    background-color: rgba(148, 104, 0, 0.8);
    text-shadow: 1px 1px var(--blackA5);
  }

  button[disabled].loading:before,
  .btn[disabled].loading:before {
    content: '';
    @apply absolute -top-1 -right-1 z-50 h-3 w-3 animate-bounce rounded-full bg-[var(--yellow10)];
  }

  .btn.negative {
    @apply bg-[var(--red10)];
  }

  .btn.positive {
    @apply bg-[var(--green10)];
  }

  fieldset > * {
    @apply block w-full;
  }

  fieldset:has([type='checkbox']) {
    @apply flex flex-row items-center;
  }

  fieldset > label {
    @apply py-0.5 text-sm text-[var(--gray9)];
  }

  fieldset input,
  fieldset select,
  fieldset textarea,
  .input-like {
    @apply rounded border border-[var(--gray8)] bg-[var(--white)] py-3 px-4 text-[var(--gray11)];
    @apply focus:border-[var(--primary)] focus:outline-none;
  }

  .input-like:before {
    content: '.';
    @apply relative right-0 bottom-0 opacity-0;
  }

  input[data-error],
  select[data-error],
  textarea[data-error] {
    @apply border-[var(--red10)];
  }

  input[disabled]:not([type='submit']),
  select[disabled],
  textarea[disabled] {
    @apply bg-[var(--gray2)];
  }

  select {
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
      no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    padding-right: 2rem !important;
  }

  .border-\[var\(--gray6\)\] {
    border-width: auto !important;
  }
}
