:root {
  --white: #fff;
  --black: #000;
  --primary: hsla(208, 74%, 50%, 1);
  --color-footer: hsla(219, 33%, 35%, 1);
  --bg-color-footer: hsla(213, 46%, 84%, 0.4);
  --color-menu: #90a3bf;
  --bg-color-menuitem-active: hsla(225, 76%, 55%, 1);
}

.dark-theme {
  --white: #000;
  --black: #fff;
  --color-footer: var(--black);
  --bg-color-footer: var(--gray1);
  --primary: hsla(36, 76%, 60%, 1);
  --color-menu: white;
  --bg-color-menuitem-active: var(--primary);
}

body {
  font-family: 'Poppins', sans-serif;
  @apply m-0 p-0;
}

body #app {
  @apply grid
  h-screen max-h-screen min-h-0 min-w-0 grid-flow-row;
  grid-template-rows: min-content 1fr min-content;
}

body #app > * {
  @apply overflow-hidden;
}

section .grid {
  @apply gap-3;
}

section .grid > *:not(.grid) {
  @apply relative;
}

/** for grid skeleton **/
section .grid > *:not(.grid):empty:before {
  content: attr(data-id);
  @apply absolute flex
  h-full w-full
  items-center justify-center
  rounded-lg bg-[var(--white)] font-mono text-[var(--black)];
}

main.inspect section .grid > *:not(.grid)[data-s='0'] {
  @apply opacity-[0.5];
}

main.inspect section .grid > *:not(.grid)[data-s='1']:after {
  content: 'IP';
  @apply absolute top-[-5px] right-[-5px]
    flex items-center justify-center rounded-md
    bg-[var(--yellow10)] px-[4px] text-xs font-medium;
}

main.inspect section .grid > *:not(.grid)[data-s='2']:after {
  content: 'D';
  @apply absolute top-[-5px] right-[-5px]
    flex items-center justify-center rounded-md
    bg-[var(--green10)] px-[4px] text-xs font-medium text-[var(--white)];
}

main.inspect section .grid > *:not(.grid)[data-s='-1']:after {
  content: 'B';
  @apply absolute top-[-5px] right-[-5px]
    flex items-center justify-center rounded-md
    bg-[var(--gray8)] px-[4px] text-xs font-medium;
}

button,
.btn {
  @apply block rounded-lg bg-[var(--primary)]
  px-6 py-2 text-white;
}

.btn-outline {
  @apply border border-[var(--black)] bg-transparent text-[var(--black)];
}

.btn-wide {
  @apply px-16;
}

.negative {
  @apply bg-red-400 text-white;
}

.positive {
  @apply bg-green-400 text-white;
}

svg {
  display: inline-block;
}
