@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
  }
  /* Scroll track styles (Background) */
  ::-webkit-scrollbar-track {
    background: var(--gray8);
    border-radius: 1rem;
  }
  ::-webkit-scrollbar-thumb {
    width: 5px;
    background: var(--gray10);
    border-radius: 1rem;
  }
}
