@tailwind utilities;

body {
    font-family: 'Poppins';
    @apply m-0 p-0;
}

body > #root {
    @apply max-h-screen h-screen;
    @apply grid grid-flow-row;
    grid-template-rows: min-content 1fr min-content;
}

h1 {
    @apply text-3xl py-4 font-medium;
}

h2 {
    @apply text-2xl py-4 font-medium;
}

h3 {
    @apply text-xl;
}

section .grid {
    @apply gap-4;
}

section .grid > *:not(.grid) {
    @apply relative;
}

/** for grid skeleton **/
section .grid > *:not(.grid):empty:before {
    @apply text-black;
    @apply bg-white;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply rounded-lg;
    @apply font-mono;
    content: attr(data-id);
    position: absolute;
    width: 100%;
    height: 100%;
}

button, .btn {
    @apply rounded-lg;
    @apply px-6 py-2;
    @apply text-white bg-blue-600;
}

button.btn-wide, .btn.btn-wide {
    @apply px-16;
}

.negative {
    @apply bg-red-400 text-white;    
}

.positive {
    @apply bg-green-400 text-white;
}